@import 'Header'
@import 'ContestThumb'
@import 'PlayRoute'
@import 'ContestInfo'
@import 'Question'
@import 'ProgressBar'
@import 'Congrats'
@import 'Timer'
@import 'Leaderboard'
@import 'Penalty'
@import 'Menu'
@import 'PlayCountdown'
@import 'NumberEntry'
@import 'PinEntry'
@import 'RegisterCongrats'
@import 'Loading'
@import 'ProfileRoute'

abs-container()
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0)

menu-width = 260px
menu-transition()
  transition: transform 0.3s;

.hide
    opacity 0

.transition
    transition: opacity 0.3s;

.icon-close
    display block
    background-image url(/img/icon-close.png)
    width 24px
    height 24px


.icon-game
    display block
    background-image url(/img/icon-games.png)
    width 24px
    height 24px

.icon-profile
    display block
    background-image url(/img/icon-name.png)
    width 24px
    height 24px

.icon-transaction
    display block
    background-image url(/img/icon-transactions.png)
    width 24px
    height 24px

.icon-feedback
    display block
    background-image url(/img/icon-feedback.png)
    width 24px
    height 24px

.icon-about
    display block
    background-image url(/img/icon-about.png)
    width 24px
    height 24px

body
  font-family: 'Roboto'
  abs-container()
  overflow: hidden;
  margin: 0
  padding: 0

.off-canvas-wrap, .off-canvas-wrap > .inner-wrap
    min-height 100vh

#app-container
  // position: relative;
  abs-container()

  > .container
    // position: relative;
    abs-container()

    > header
      position: fixed
      top: 0
      left: 0
      right 0
      height: 85px
      z-index: 100
      menu-transition()

    > .body
      abs-container()
      top: 75px
      left: 10px
      right: 10px
      position: absolute;
      overflow-x: hidden;
      overflow-y: auto
      z-index: 20
      menu-transition()
      max-width: 400px
      margin: auto

      -webkit-overflow-scrolling: touch;

    > .menu
        position: fixed;
        top: 0;
        right: 0;
        width: menu-width;
        bottom: 0;
        z-index: 120;
        background-color: #fff;
        menu-transition()
        transform: translate3d(menu-width, 0, 0);
        // box-shadow: inset 3px 0px 19px 3px rgba(0, 0, 0, 0.76)
        // border 1px solid #000

    > .menu-blocker
    //   display: none
      position: fixed
      top: 0
      right: 0
      bottom: 0
      width 100%
      menu-transition()
      background-color rgba(0,0,0,0.7)
      transform translate3d(100%, 0, 0)
      z-index 110

    &.menu-open
      > .menu
        transform: translate3d(0, 0, 0);

      > .body, header
        // transform: translate3d(-1 * menu-width, 0, 0);

      > .menu-blocker
        // display: block;
        transform: translate3d(0, 0, 0);

      > .body
        overflow-y: hidden;

    .home-route
        max-width: 558px
        margin: auto

    .button
        background -webkit-linear-gradient(top, #DA322C 0%, #B92B2A 44%, #DA322C 100%)
        color #FFF
        font-weight bold
        width 100%
        margin 0
        padding: 11px 0;
        text-transform: uppercase;
        font-size: 120%;
        border-radius: 1000px;
        border-style: solid;
        border-width: 0px;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        text-align: center;
        -webkit-appearance: none;
        display: inline-block;
