@import 'Header'
@import 'ContestThumb'
@import 'PlayRoute'
@import 'ContestInfo'
@import 'Question'
@import 'ProgressBar'
@import 'CongratsRoute'
@import 'Timer'
@import 'Leaderboard'
@import 'Penalty'
@import 'Menu'

body
  font-family: 'Roboto'

#app-container
    height 100%

    .container
        height 100%

        .off-canvas-wrap
            height 100%
            overflow-y auto

        .inner-wrap
            height 100%

    .home-route
          max-width: 558px
          margin: auto
