@import 'Header'
@import 'ContestThumb'
@import 'PlayRoute'
@import 'ContestInfo'
@import 'Question'
@import 'ProgressBar'
@import 'CongratsRoute'

#app-container
    height 100%

    .container
        height 100%
