.bullet-bar-component
    display flex
    justify-content center
    
    .bullet
        width 10px
        height 10px
        background-color #fff
        border-radius 50%
        margin 3px
        border solid 1px #000

        &.active
            background-color #f2dc4f
