.congrats-component
    margin-top 23px

    .column
        font-size 30px
        color orange
        text-align center

    .leader-board
        margin-top: 10px

    p
        color #fff
        
    .row
        width 60%
        margin 20px auto
        margin-top 0
        text-align center
