.congrats-component
    height 100%
    min-height 428px
    max-width 380px
    margin 8px auto 0 auto
    background url(/img/bg-curtain.png) #000
    border-radius 5px
    background-repeat no-repeat
    padding-bottom 22px
    position relative
    padding-top 30px

    .column
        font-size 30px
        color orange
        text-align center

    .leader-board
        margin-top: 50px
