.contest-info-component
    height: 87px
    padding: 0 10px 0 10px
    max-width 400px
    margin auto

    .container
        background url(/img/bg-blue.png)
        background-position center
        border-radius 5px

        .title
          font-size: 32px;
          margin-top: 3px;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;

        .timer
          margin-top: -3px

        .image-container
            display flex
            height 100%

            .contest-image
                width: 86px
                height: 86px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
