.contest-thumb

    .container
        position relative
        display block
        margin 20px
        padding 10px
        background #fff
        box-shadow 0 0 6px 0 rgba(0,0,0,0.45)
        font-family "Helvetica Neue"

        .header
            background url(/img/bg-blue.png)
            background-position center
            padding 10px

            .title
                color #000
                font-size 23px
                font-weight bold

            .days-left
                text-transform uppercase
                color #8FD1EB
                font-size 12px

            // .image-container
            //     display flex
            //     height 100%

            .button
                background -webkit-linear-gradient(top, #DA322C 0%, #B92B2A 44%, #DA322C 100%)
                color #FFF
                font-weight bold
                width 100%
                margin 0

            .contest-info-container
                display flex
                align-items center

        p
            margin 0
            color #A1A1A1

            &.time-title
                font-size 12px

            &.leaderboard-title
                color #7E7E7E
