.contest-thumb

    .image-container
      width 100px
      height 100px
      background-size contain
      background-repeat no-repeat
      background-position center
      text-align center

      img
        margin-top 10px

    .container
        position relative
        display block
        margin 20px
        padding 10px
        background #fff
        box-shadow 0 0 6px 0 rgba(0,0,0,0.45)
        font-family "Helvetica Neue"

        .header
            background url(/img/bg-blue.png)
            background-position center
            padding 10px

            .title
                color #000
                font-size 23px
                font-weight bold

            .info
                text-transform uppercase
                color #8FD1EB
                font-size 12px
                margin-top: 8px;

            .contest-info-container
                display flex
                align-items center

                .info
                  flex: 1
                  margin-left: 9px

        .row
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 10px 0 10px;

        p, a
            margin 0
            line-height: 1em
            color #A1A1A1
            text-decoration none

            &.time-title
                font-size 12px

            &.leaderboard-title
                color #7E7E7E
                white-space: nowrap
                overflow: hidden

        &.locked

            .header
                background black

                .title
                    color #fff

                .info
                    color #E87B3A

                .button
                    background -webkit-linear-gradient(top, #F9DA74 0%, #EDA755 44%, #E87B3A 100%) !important
                    color #000 !important
