.header-component

    .logo
        background url(/img/bigwin-logo.png)
        width 78px
        height 82px
        position absolute
        z-index 9999
        left 50%
        margin-left -39px

    .top-bar
        height 54px
        background-color #DC3A39
        box-shadow 0px 2px 3px grey
        border-bottom solid 2px white
