.home-route
    padding 10px
    position absolute
    bottom 0
    top 0
    left 0
    right 0
    overflow auto

    &.overlay
        overflow hidden

    h3
        text-transform uppercase
        color #8A8A8A
        font-weight normal

    .loader
        border-top 1.1em solid rgba(204, 204, 204, 0.8)
        border-right 1.1em solid rgba(204, 204, 204, 0.8)
        border-bottom 1.1em solid rgba(204, 204, 204, 0.8)
        border-left 1.1em solid #8a8a8a
        margin-top 5px
