.leaderboard-route
    padding-top 10px

    .content
        transition: opacity 0.7s

        &.transitioning
            opacity: 0

    .loader
        border-left-color #000

    .leader-board
        box-shadow 0 0 6px 0 rgba(0,0,0,0.45)
        margin 5px

        .leader-board-item
            width auto
            margin-left 0

    .contest-info-component
        background-image url(/img/bg-curtain.png)
        background-position-y 230px

        > .contest-info
            justify-content center

        .title
            color #f2dc4f

        p
            color #fff
            font-size 25px
            margin 0
            font-weight 100
            text-transform uppercase
