.level-complete-component
    display flex
    flex-wrap wrap
    flex-direction column
    justify-content center
    position absolute
    left 0
    top 0
    right 0
    bottom 0

    h1
        color #F8EB53
        text-shadow 0px 1px 2px #000
        margin 0

    p
        color #fff
        margin 0
        font-size 17px

    .button
        background -webkit-linear-gradient(top, #F9DA74 0%, #EDA755 44%, #E87B3A 100%) !important
        color #000 !important
        width 75% !important
        margin 0 auto !important

    .row
        width 60%
        margin 20px auto
        margin-top 0
        text-align center
