.menu-component

    ul
        list-style-type none
        margin-left: 14px;
        padding: 0;

    li
        border-bottom solid 1px #525252
        padding: 12px 0

    a
        color #fff
        font-weight bold
        text-decoration: none;

        &.active
            color #C8A443

    .right-off-canvas-menu
        padding-top 20px
