.penalty-component
    background-color rgba(0, 0, 0, 0.7)
    color #FBC953
    text-align center
    height 50px
    border-top solid 2px #fff
    box-shadow 0 0 10px 3px #000

    .container
        height 100%

        .icon
            text-align right
            padding-right 30px

            img
                position fixed
                bottom 0

        .title
            text-align left
            display flex
            align-items center
            height 100%

        p
            font-size 20px
            margin 0
