.penalty-component
    background-color rgba(0, 0, 0, 0.7)
    color #AD8C39
    text-align center
    height 71px
    border-top solid 2px #fff
    box-shadow 0 0 10px 3px #000

    .container
        height 100%

        .icon
            text-align right

        .title
            text-align left
            display flex
            align-items center
            height 100%

        p
            font-size 20px
            margin 0
