.pin-entry-component
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    background #000
    z-index 999

    .row
        text-align center
        margin 10px

    h2
        color #ECAA44

    p
        color #fff
        font-size 19px

    .button
        background -webkit-linear-gradient(top, #F9DA74 0%, #EDA755 44%, #E87B3A 100%) !important
        color #000 !important
        width 270px !important

    input[type="number"]
        height 35px
        border 2px solid orange
        border-radius 20px
        width 230px
        background-image url(/img/icon-password-gray.png)
        background-repeat no-repeat
        background-position 13px
        padding-left 35px
        font-size 20px

        &:focus
            outline none

        &:hover
            background-image url(/img/icon-password-black.png)

    .separator
        border 1px solid #fff
        width 25%
        margin 20px auto

    .legal
        color gray
        font-size 12px
        text-align initial
        width 265px
        margin auto

    .contest-info-container
        display flex
        align-items center

        .contest-image
            width 120px
            height 87px
            min-width 120p
            background-position center
            background-size contain
            background-repeat no-repeat

        .info
            p
                margin 0
                text-align left

            .title
                color #fff
                font-size 30px
                font-weight bold

            .info
                color #92D249
                text-transform uppercase
                font-size 20px

    .pin-sent-info
        width 240px
        margin auto
