@keyframes penaltyShake {
  10%, 90% {
    transform: translate3d( 0,-1px, 0);
  }

  20%, 80% {
    transform: translate3d(0, 1px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d( 0, 0px, 0);
  }

  40%, 60% {
    transform: translate3d(0, -1px, 0);
  }
}

.play-route

    margin-top: 10px
    display: relative

    .penalty
        position absolute
        // bottom 0
        width 100%
        // transform: translate3d(0, 72px, 0);
        transition: opacity 1.3s;
        z-index: 999;
        top: 7px;
        // margin: 3px;
        opacity 0

        &.in
            opacity 1
        //   transform: translate(0, 0px, 0);
        //   animation: penaltyShake 1.3s cubic-bezier(.36,.07,.19,.97) both;

    .blocker
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        display: none

    &.show-penalty
        .blocker
            display: block

    .play-route-content
        margin: 8px auto 0 auto;
        padding-bottom: 20px
        background: url(/img/bg-curtain.png) #000;
        border-radius: 5px;
        background-repeat: no-repeat;
        overflow-y: auto;

        position: absolute;
        top: 100px;
        bottom: 10px;
        left: 0;
        right: 0;
        transform: translate3d(0, 0, 0)

        .progress-bar-component
          width: 50%;
          margin: 10px auto 0 auto;

        .level-info
          text-align center
          color #F2DC4F
          font-weight bold
          padding-top 15px

    .question-component:last-child
      position: fixed;
      left: -1000px;

    .question-component:first-child
      position: relative !important;
      left: 0 !important;

    .question-component,
    .congrats-component
      transition: opacity 0.7s

    &.transitioning
      .question-component,
      .congrats-component
        opacity: 0
        transition: opacity 0.7s

    &.show-timer
      .playCountdown
        position: absolute;
        top: 120px
        left: 0
        right: 0
        text-align: center;

      .question-component
        opacity: 0
