.play-route
    height 90%
    // padding-top 20px

    .penalty
        position fixed
        bottom 0
        width 100%
        transform: translate(0, 72px);
        transition: 0.2s;

        &.in
          transform: translate(0, 0px);
