.register-congrats-component
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    background #000
    z-index 999

    > div:first-child
        padding-top 50px

    .row
        text-align center
        margin 10px

    h2, p
        color #ECAA44
        margin 0

    .button
        background -webkit-linear-gradient(top, #F9DA74 0%, #EDA755 44%, #E87B3A 100%) !important
        color #000 !important
        width 270px !important

        &.grey
            background #E8E8E8 !important
            color #767676 !important

    .contest-info-container
        display flex
        align-items center
        margin 30px 10px

        .contest-image
            width 100px
            height 70px
            background-position center
            background-size contain
            background-repeat no-repeat

        .info
            margin-left 9px

            p
                margin 0
                text-align left

            .title
                color #fff
                font-size 23px
                font-weight bold

            .info
                color #92D249
                text-transform uppercase
                font-size 20px
