.timer-component
    // background url(/img/icon-timer.png) no-repeat
    // padding-left 30px
    color #fff
    font-size 16px
    // background-position-y 3px
    height 29px
    display flex
    justify-content space-between

    .timer
        width 110px
        margin 0 5px

    .progress-bar-component
        width 100%

    .icon-clock
        position absolute
        bottom 0
        left 5px
        width 35px
        height 42px
        background-size contain
        background-repeat no-repeat
